<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div>
	<% if !no_outstanding_fines? %>
	    <h4>Outstanding fine: <b><i>RM <%= calculate_fines %></i></b></h4>
	<% else %>
	    <h4>You currently have <b><i>no outstanding fines</i></b>.</h4>
	<% end %>
	<%= render 'stationeries/borrowed' %>
	<% if !Transaction.where(user_id: current_user.id, return_details: true).where.not(return_date: nil).empty? %>
	    <%= render 'transactions/history' %>
	<% end %>
</div>