<% provide :title, "List of stationeries" %>
<% if no_outstanding_fines? %>
<div class="container">

    <h3><b>Details for Rambutan Stationeries Availability (<%= Stationery.count %> in total) </b></h3>
    <% provide :title, "List of stationeries" %>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Type</th>
          <th>Cupboard</th>
          <th>Number of Available</th>
          <th>Action</th>
        </tr>
      </thead>
      <% @stationeries.each do |item| %>
      <tbody>
          <tr>
            <td><%= item.product_code %></td>
            <td><%= item.name.upcase %></td>
            <td><%= item.stationery_type.to_s.capitalize %></td>
            <td><%= item.cupboard_num%></td>
            <td><% if item.quantity == 0 %>
                    Unavailable
                <% else %>
                    <%= item.quantity %>
                <% end %>
            </td>
            <td>
                <% if logged_in? %>
                    <% if current_user.admin? %>
                        <%= link_to "Edit", edit_stationery_path(item.id), method: :get, class: "btn btn-primary" %>  
                        <%= link_to "Delete", item, method: :delete, data: { confirm: "Are you sure you want to delete #{item.name}?" }, class: "btn btn-danger" %>       
                    <% else %>
                        <%= form_for(:transaction, url: borrow_path, method: :post) do |f| %>
                        <%= f.hidden_field :item_id, value: item.id %> 
                        <%= f.hidden_field :borrower_id, value: current_user.id %> 
                        <% if item.quantity > 0 %>
                            <span><h6>Select quantity:</h6></span>
                            <% if !item.fixed? %>
                                <%= f.number_field :quantity, min: 1, max: item.quantity, class: "form-control", value: 1 %>
                            <% else %>
                                <%= f.number_field :quantity, min: 1, max: 1, class: "form-control", readonly: true, value: 1 %>
                            <% end %>
                            <br/>
                            
                            <%= f.submit determine_transaction_type(item), class: "btn btn-primary", data: { confirm: "Are you sure you want to #{determine_transaction_type(item).to_s.downcase} #{item.name}?"} %> <!---->
                        <% end %>
                    <% end %>
                <% end %>
                <% else %>
                    <%= link_to "Log In to borrow", login_path , class: "card-link btn btn-primary" %>
                <% end %>
            </td>
          </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
<% else %>
<div class="container">
  <h2 style="color: red">
    <i>You currently have <b>outstanding fines (RM <%= calculate_fines %>)</b> due to late returning item.</i>
  </h2> 
  <h2 style="color: red">
    <i>Please pay your fines and return your borrowed/used items before borrow/use/take any more items.</i>
  </h2>
  <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
</div>
<% end %>
