<% provide :title, "Stationery borrowal/usage history"%>

<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Stationery Name</th>
          <th>Quantity</th>
          <th>Borrowing Date</th>
          <th>Return Date</th>
          <th>Return Before</th>
        </tr>
      </thead>
      <% @history.each do |t| %>
      <tbody>
          <tr>
            <td><%= Stationery.find_by(id: t.stationery_id).name %></td>
            <td><%= t.quantity %></td>
            <td><%= get_date_string(t.created_at) %></td>
            <td><%= get_date_string(t.return_date) %></td>
            <td><%= get_date_string(t.expired_date) %></td>
          </tr>
      </tbody>
      <% end %>
    </table>
</div>